:root{
    --color1:#014f97; 
}
header h5{
    color: white;
}

body{
    background-image:linear-gradient(rgba(1, 79, 151,  0.5),rgba(1, 79, 151,  0.5) ), url(img/bg.jpeg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    

   }

